body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    color: rgb(130, 129, 129);
    background: #ffffff;
}

.navbar-collapse.collapse {
    display: block!important;
  }
  
  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }
  
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }
  
  .navbar-right {
    float: right!important;
  }

.nav-link {
    color: #00A !important;
    font-size: 25px;
}

.dropdown-item {
    font-size: 20px;
}

.bg {
    background-color: #ffffff;
}

.nav-img {
    color: #00A;
    margin-right: 1rem;
}

.main-content {
    margin-top: 5.5rem;
    text-align: center ;
}

.main-desc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 350px;
    text-align: justify;
    line-height: 35px;
}

.main-img {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    width: 250px;
    background-color: #00A;
    border-radius: 50%;
}

.icons {
    text-align: center;
}

.fa-icon {
    margin-top: 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    justify-content: space-around;
}

.jumbotron {
    margin-top: 1.5rem;
    padding: 5rem;
    color: #ffffff;
    background-color: #00A !important;
    text-align: center;
}

 .btn {
     margin: 1.5rem;
     width: 25%;
     display: inline-block !important;
     color: #ffffff !important;
     border: #ffffff !important;
 }

.footer {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}